extends layout

block content
  .max-w-7xl.mx-auto.py-6.px-4(class="sm:px-6 lg:px-8")
    h1.text-3xl.font-extrabold.text-gray-900
      | CREATE A TODO

  if success
    .bg-green-50.p-4.rounded.flex.items-start.text-green-600.my-4.shadow-lg.mx-auto.max-w-2xl
      .text-lg
        svg.fill-current.w-5.pt-1(
          xmlns="http://www.w3.org/2000/svg",
          viewBox="0 0 24 24"
        )
          path(
            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
          )
      .px-3
        h3.text-green-800.font-semibold.tracking-wider
          | Success
        p.py-2.text-green-700
          | Yay, successfully created the TODO!
        .space-x-6
          a.text-green-900.font-semibold(
            href="/",
            class="hover:underline focus:outline-none"
          ) Go to list

  if error
    .bg-yellow-50.p-4.rounded.flex.items-start.text-yellow-600.my-4.shadow-lg.mx-auto.max-w-2xl
      .text-lg
        svg.fill-current.w-5.pt-1(
          xmlns="http://www.w3.org/2000/svg",
          viewBox="0 0 24 24"
        )
          path(
            d="M12 1l-12 22h24l-12-22zm-1 8h2v7h-2v-7zm1 11.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"
          )
      .px-3
        h3.text-yellow-800.font-semibold.tracking-wider
          | Oh, bruh!
        p.pt-2.text-yellow-700
          | You forgot to add some title or body in there!

  .mt-5(class="md:mt-0 md:col-span-2")
    form(method="POST")
      .shadow(class="sm:rounded-md sm:overflow-hidden")
        .px-4.py-5.bg-gray-50.space-y-6(class="sm:p-6")
          .grid.grid-cols-3.gap-6
            .col-span-3(class="sm:col-span-2")
              label.block.text-sm.font-medium.text-gray-700(for="title")
                | Title
              .mt-4.flex.rounded-md.shadow-sm
                input#title.flex-1.block.w-full.rounded-none.rounded-r-md.border-gray-600(
                  type="text",
                  name="title",
                  class="focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm",
                  placeholder="Type your title here..."
                )
          div
            label.block.text-sm.font-medium.text-gray-700(for="body")
              | Body
            .mt-4
              textarea#body.shadow-sm.mt-1.block.w-full.border-gray-300.rounded-md(
                name="body",
                rows="3",
                class="focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm",
                placeholder="Type some description here..."
              )
            p.mt-2.text-sm.text-gray-500
              | Brief description for your todo.
        .px-4.py-3.bg-gray-50.text-right(class="sm:px-6")
          button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-medium.rounded-md.text-white.bg-indigo-600(
            type="submit",
            class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          )
            | Save
