extends layout

block content
  .max-w-7xl.mx-auto.py-6.px-4(class="sm:px-6 lg:px-8")
    h1.text-3xl.font-extrabold.text-gray-900
      | TODO DESCRIPTION

  .bg-white.shadow.overflow-hidden(class="sm:rounded-lg")
    .px-4.py-5(class="sm:px-6")
      h3.text-lg.leading-6.font-medium.text-gray-900= todo.title
    .border-t.border-gray-200
      dl
        .bg-gray-50.px-4.py-5(class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6")
          dd.mt-1.text-sm.text-gray-900(class="sm:mt-0 sm:col-span-2")= todo.body
  a.inline-flex.items-center.px-4.py-2.mt-4.border.border-gray-300.rounded-md.shadow-sm.text-sm.font-medium.text-gray-700.bg-white(
    href=`/todo/${todo.id}/delete`,
    class="hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  )
    svg.-ml-1.mr-2.h-5.w-5.text-gray-500(
      xmlns="http://www.w3.org/2000/svg",
      viewBox="0 0 20 20",
      fill="currentColor",
      aria-hidden="true"
    )
      path(
        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
      )
    |
    | Delete
